@use "../../scss/breakpoint" as *;

.movie-list {
    min-height: 35vh;
    position: relative;
    .swiper-slide {
        width: 15%;

        @include tablet {
            width: 30%;
        }

        @include mobile {
            width: 40%;
        }
    }
}
