@use "../../scss/" as *;

.logo {
    font-size: 2.5rem;
    font-weight: 600;

    @include flex(center, unset);

    img {
        margin-right: 10px;
        width: 50px;

        @include mobile {
            width: 30px;
            margin-right: 0;
        }
    }
}

.header {
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: height 0.3s ease, background-color 0.3s ease;
    background: linear-gradient(180deg, rgba(0, 6, 6, 1) 0%, rgba(0, 6, 6, 0) 100%);


    @include mobile {
        height: calc($header-height - 3rem)
    }

    &.shrink {
        height: $header-shrink-height;
        background-color: $body-bg;
    }

    &__wrap {
        @include flex(center, space-between);
        height: 100%;
        padding: 0 2rem;

        @include mobile {
            justify-content: space-between;
        }
    }

    &__toggle{
        display: none;
        @include mobile{
            button{
                border: 0;
                outline: none;
                height: 30px;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: none !important;
                border: 1px solid #fff;
                border-radius: $border-radius;
                color: #fff;
                font-size: 20px;
                &:hover{
                    background: #fff;
                }
            }
            display: block
        }
    }

    &__nav {
        @include flex(center, unset);

        & > * ~ * {
            margin-left: 2rem;
        }

        li {
            padding: 5px 0;
            font-weight: 700;
            position: relative;
            font-size: 1.5rem;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                transition: width 0.5s ease;
                height: 2px;
                background-color: $main-color;
            }

            &.active::after,
            &:hover::after {
                width: 100%;
            }
        }

        @include mobile {
            position: absolute;
            top: 45px;
            right: 5%;
            height: auto;
            width:35%;
            background-color: #fff;
            color: $body-bg;
            padding: 0 2rem;
            box-shadow: $box-shadow;
            display: none;
            z-index: 99;
            border-radius: calc($border-radius - 15px);
            padding: 15px 10px;
            & > * ~ * {
                margin-left: 0;
            }
        }
    }
    @include mobile{

        &__nav.show{
            display: block;
        }
    }
}
